<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUwjbyApObgbosnV2edUYwi_YoCZTvzlY</string>
	<key>GCM_SENDER_ID</key>
	<string>1074611933065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakhul.Finance-Tracker</string>
	<key>PROJECT_ID</key>
	<string>finance-tracker-39c60</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-tracker-39c60.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074611933065:ios:af848ec51fdadac90b9b58</string>
</dict>
</plist>
